{% if quests %}
{% for q in quests %}
    {% if forloop.first %}<div class="row">{% endif %}
    <div class="col-md-4">
        <div class="card mb-4
        {% if q.stars == 1%}
        border-info
        {% elif q.stars == 2 %}
        border-success
        {% elif q.stars == 3 %}
        border-primary
        {% elif q.stars == 4 %}
        border-warning
        {% else %}
        border-danger
        {% endif %}" id="{{q.slug}}">
            <h4 class="card-header text-center text-light
            {% if q.stars == 1%}
            bg-info
            {% elif q.stars == 2 %}
            bg-success
            {% elif q.stars == 3 %}
            bg-primary
            {% elif q.stars == 4 %}
            bg-warning
            {% else %}
            bg-danger
            {% endif %}">
                {{ q.name }}
            </h4>
            <div class="card-body">
                <div class="card-desc-min-height d-flex justify-content-start align-items-center">
                    <p class="card-text mb-5">
                        {{ q.description }}
                    </p>
                </div>
                <div class="row card-dibs-min-height">
                    <div class="col-lg-3">
                        <b>Dibs</b>
                    </div>
                    <div class="col-lg-9">
                        {% if q.slots %}
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="quest_id" id="quest_id" value="{{q.id}}">
                            {% with ''|center:q.slots as range %}
                            {% for _ in range %}
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">{{forloop.counter}}.</span>
                                </div>
                            
                                <input 
                                name="{{q.slug}}-slot{{forloop.counter}}"
                                type="text" 
                                class="form-control form-control-sm" 
                                id="{{q.slug}}-slot{{forloop.counter}}" 
                                {% with counter=forloop.counter %}
                                {% for slot in slots %}
                                    {% for item in slot.items %}
                                        {% if item.0 == q.id%}
                                            {% for students in item.1 %}
                                                {% for student in students.items %}
                                                    {% if student.0 == counter%}
                                                    value="{{student.1}}" disabled
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                {% endwith %}
                                />
                              </div>
                            
                            {% endfor %}
                            {% endwith %}
                            <button type="button" class="btn btn-outline-primary btn-sm float-right mt-2" data-toggle="modal" data-target="#confirmModal{{forloop.counter}}">
                                Submit
                            </button>
  
                            <div class="modal fade" id="confirmModal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confirm slot</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="lead">Are you sure with your quest choice?</p>
                                        <p class="text-muted"><small>Students cannot retract their dibs once they have confirmed it</small></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary" name="addSlot" value="addSlot">Yes</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </form>
                        {% else %}
                        <p class="lead">
                            All students will participate in this quest
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-footer text-center text-warning">
                <div class="card-text">
                    {% with ''|center:q.stars as range %}
                    {% for _ in range %}
                    <i class="fas fa-star"></i>
                    {% endfor %}
                    {% endwith %}
                </div>
                <div class="card-text">

                </div>
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:"3" %}</div><div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}
{% endfor %}
{% else %}
<h1 class="text-center">No quests posted</h1>
{% endif %}