{% if quests %}
{% for q in quests %}
    {% if forloop.first %}<div class="row">{% endif %}
    <div class="col-md-4">
        <div class="card mb-4
        {% if q.stars == 1%}
        border-info
        {% elif q.stars == 2 %}
        border-success
        {% elif q.stars == 3 %}
        border-primary
        {% elif q.stars == 4 %}
        border-warning
        {% else %}
        border-danger
        {% endif %}" id="{{q.slug}}">
            <div class="card-header text-light d-flex justify-content-between align-items-center
            {% if q.stars == 1%}
            bg-info
            {% elif q.stars == 2 %}
            bg-success
            {% elif q.stars == 3 %}
            bg-primary
            {% elif q.stars == 4 %}
            bg-warning
            {% else %}
            bg-danger
            {% endif %}">
                
                <h4>{{ q.name }}</h4>
                
                {% for slot in slots %}
                    {% for item in slot.items %}
                        {% if item.0 == q.id and not item.1%}  
                        <button type="button" class="btn btn-secondary btn-sm mt-2" data-toggle="modal" data-target="#editQuestModal{{q.id}}">
                            Edit
                        </button>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="card-body">
                <div class="card-desc-min-height d-flex justify-content-start align-items-center">
                    <p class="card-text mb-5">
                        {{ q.description }}
                    </p>
                </div>
                <div class="row card-dibs-min-height">
                    <div class="col-lg-3">
                        <b>Dibs</b>
                    </div>
                    <div class="col-lg-9">
                        {% if q.slots %}
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="quest_id" id="quest_id" value="{{q.id}}">
                            {% with ''|center:q.slots as range %}
                            {% for _ in range %}
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">{{forloop.counter}}.</span>
                                </div>
                            
                                <input 
                                name="{{q.slug}}-slot{{forloop.counter}}"
                                type="text" 
                                class="form-control form-control-sm" 
                                id="{{q.slug}}-slot{{forloop.counter}}" 
                                {% with counter=forloop.counter %}
                                {% for slot in slots %}
                                    {% for item in slot.items %}
                                        {% if item.0 == q.id%}
                                            {% for students in item.1 %}
                                                {% for student in students.items %}
                                                    {% if student.0 == counter%}
                                                    value="{{student.1}}" disabled
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                {% endwith %}
                                />
                              </div>
                            
                            {% endfor %}
                            {% endwith %}
                            <button type="button" class="btn btn-outline-primary btn-sm float-right mt-2" data-toggle="modal" data-target="#confirmModal{{forloop.counter}}">
                                Submit
                            </button>
  
                            <div class="modal fade" id="confirmModal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confirm slot</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="lead">Are you sure with your quest choice?</p>
                                        <p class="text-muted"><small>Students cannot retract their dibs once they have confirmed it</small></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary" name="addSlot" value="addSlot">Yes</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </form>
                        {% else %}
                        <p class="lead">
                            All students will participate in this quest
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-footer text-center text-warning">
                <div class="card-text mb-3">
                    {% with ''|center:q.stars as range %}
                    {% for _ in range %}
                    <i class="fas fa-star"></i>
                    {% endfor %}
                    {% endwith %}
                </div>
                <small class="text-muted text-center">
                    Copy this link to share quest: {{ request.build_absolute_uri }}#{{q.slug}}
                </small>
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:"3" %}</div><div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}

    <div class="modal fade" id="editQuestModal{{q.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form method="POST" class="modal-content">
            {% csrf_token %}
            <input type="hidden" name="edit_id" id="edit_id" value="{{q.id}}">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit {{q.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="editQuestForm{{q.id}}">
                <p>
                    <label for="id_name">Quest name:</label> 
                    <input type="text" class="form-control mb-3" maxlength="140" name="qName_{{q.id}}" id="qName_{{q.id}}" value="{{q.name}}" />
                </p>
                <p>
                    <label for="id_description">Description:</label> 
                    <textarea name="qDescription_{{q.id}}" cols="40" rows="10" class="form-control mb-3" id="qDescription_{{q.id}}" value="{{q.description}}">{{q.description}}</textarea>
                </p>
                <p>
                    <label for="id_stars">Stars:</label> 
                    <input type="number" name="qStars_{{q.id}}" class="form-control mb-3" min="1" max="7" id="qStars_{{q.id}}" value="{{q.stars}}">
                </p>
                <p>
                    <label for="id_is_for_everyone">Is the quest for everyone? (tick the box if yes):</label> 
                    <input type="checkbox" name="qIsForEveryone_{{q.id}}"  id="qIsForEveryone_{{q.id}}" {% if q.is_for_everyone %}checked{% endif %}>
                </p>
                <p>
                    <label for="id_slots">Number of slots:</label> 
                    <input type="number" name="qSlots_{{q.id}}" class="form-control mb-3" min="0" max="7" id="qSlots_{{q.id}}" value="{{q.slots}}">
                </p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" name="updateQuest" value="updateQuest">Update</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </form>
        </div>
    </div>
    <script>
        document.getElementById("qIsForEveryone_{{q.id}}").addEventListener("change", function() {
            if(document.getElementById("qIsForEveryone_{{q.id}}").checked) {
                document.getElementById("editQuestForm{{q.id}}").lastElementChild.style.display = "none";
                document.getElementById("qSlots_{{q.id}}").value = 0;
            } else {
                document.getElementById("editQuestForm{{q.id}}").lastElementChild.style.display = "block";
                document.getElementById("qSlots_{{q.id}}").value = "{{q.slots}}";
            }
        })
    </script>
{% endfor %}
{% else %}
<h1 class="text-center">No quests posted</h1>
{% endif %}